In [5]:
from database import *
import pandas as pd

In [11]:
pd.DataFrame([[1, 2], [2, 3]])

   0  1
0  1  2
1  2  3

In [3]:
db = LoadDataBase()

In [16]:
print(db.users['tourist'])

nick: tourist, country: Belarus, city: Gomel, organization: ITMO University, contribution: 156, rating: 3702, maxRating: 3783

In [20]:
class Test:
    def __str__(self):
        return 'gowno'
    def __repr__(self):
        return 'kupa'

In [21]:
Test()

kupa